{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <style>
        .clients div img{
            height: 100px;
            width: 100px;
            vertical-align: middle;
            object-fit: contain;
            background-position: center center;
        }
    </style>

    <div class="container main">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <img src="{{ asset('images/banners/biography-banner.jpg') }}" class="img-fluid">
                <h5>About the principal: Martin Newham</h5>
                <p>
                Hello to you and thank you for visiting my website. I am a consultant chartered architect, a member
                of the Royal Institute of British Architects and Česka Komora Architektu. I also have a masters
                degree in international law and am an accredited Civil and Commercial mediator. I have undertaken
                consultancy work in many countries spanning across the globe from the UK to Kazakhstan to Angola and
                the United States, with several other countries in-between. Such global appointments has given me
                knowledge and understanding of a wide range of traditional and modern construction techniques,
                seeing their benefits and sometimes the deficiencies. The size and scale of consultations has range
                from domestic residential through to due diligence investigations and projects for multi-national
                corporate and state clients.
                </p>

                <div class="row row-cols-1 row-cols-md-3 g-4 clients mt-3">
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/Seal_of_the_United_States_Department_of_State.svg.png') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/statoil.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/TISA.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/UNICEF-1-200-200-100-crop.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/BP-logo-web.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/brand.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/bakerbotts.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/british-council-logo.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/citibank-logo.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/cmm37.jpg') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/emblem-00111.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/en_positive_horizontal_logotype_rgb.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/gunay_bank_logo_030813.jpg') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/ramco_logo.gif') }}"></div>
                    <div class="col-md-2"><img class="img-fluid" src="{{ asset('images/corporate-clients-logos/saipem.jpg') }}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
